    body {
    font-family: Arial, sans-serif;
    background: cadetblue;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

